body {
  text-align: center;
  background-color: rgb(249, 248, 248);
}
h1 {
  font-family: monospace;
  font-size: 80px;
  color: white;
}
h2 {
font-family: monospace;
font-size: 40px
}
h3 {
  font-family: sans-serif;
  font-size: 20px;
  color: gray;
}
p {
  font-family: sans-serif;
  font-size: 20px
}
.silver-text {
color: rgb(96, 94, 94)
}
li {
  text-align: left;
  font-size: 20px
}
ul {
  font-family: sans-serif;
}
.align-left {
  text-align: left
}

.smaller-image {
  width: 30px;
  height: auto;
}
.image-readjust {
  width: 60px;
  height: auto;
}
.profile-image {
  width: 40px;
  height: auto;
}
.image-border {
  border: 5px solid;
  border-radius: 50px;
}
.projects-image-border {
  border-radius: 50px;
}
.projects-image-smaller {
  width: 50px;
  height: auto;
}
.background-image {
  background-image: url("/images/background.jpeg");
  background-repeat: no-repeat;
}

.item-header{
  grid-area: header;
  background: url("/images/HeaderBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.item-main {
  grid-area: main;
  background-color: white;
  border: 2px solid  rgb(228, 228, 228);;
  border-radius: 10px;
}
.item-skills {
  grid-area: skills;
  align-self: center;
  background-color: white;
  border: 2px solid  rgb(228, 228, 228);;
  border-radius: 10px;
}
.item-projects {
  grid-area: projects;
  background-color: white;
  border: 2px solid  rgb(228, 228, 228);;
  border-radius: 10px;
}
.item-contact {
  grid-area: contact;
  align-self: end;
  background-color: white;
  border: 2px solid  rgb(228, 228, 228);;
  border-radius: 10px;
}
  
  .container {
    display: grid;
    grid-column: repeat(8, 1fr);
    grid-gap: 20px;
    grid-row: auto;
    grid-template-areas: 
      "header header header header header header header header"
      "main . .  skills skills . . ."
      "projects . .  contact contact . . ."
      ". . . . . . . .";
  }
  skills . . .
  projects . . .