body {
  text-align: center;
}
h1 {
  font-family: Arial;
}
h2 {
font-family: monospace
}
.silver-text {
color: rgb(96, 94, 94)
}

.item-header{
    grid-area: header;
  }
  .item-main {
    grid-area: main;
  }
  .item-skills {
    grid-area: skills;
  }
  .item-projects {
    grid-area: projects;
  }
  .item-contact {
    grid-area: contact;
  }
  
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header"
      "main skillS"
      "projects contact  ";
  }

