 h2 {
  font-family: monospace
 }
 .silver-text {
  color: grey
 }

.item-header{
    grid-area: header;
  }
  .item-main {
    grid-area: main;
  }
  .item-skills {
    grid-area: skills;
  }
  .item-projects {
    grid-area: projects;
  }
  .item-contact {
    grid-area: contact;
  }
  
  .container {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header"
      "main skillS"
      "projects contact  ";
  }

