body {
  text-align: center;
  background-color: rgb(205, 249, 234);
}
h1 {
  font-family: monospace;
  font-size: 80px
}
h2 {
font-family: monospace;
font-size: 40px
}
p {
  font-family: sans-serif;
  font-size: 20px
}
.silver-text {
color: rgb(96, 94, 94)
}
li {
  text-align: left;
  font-size: 20px
}
.align-left {
  text-align: left
}

.item-header{
    grid-area: header;
    align-self: center;
  }
  .item-main {
    grid-area: main;
  }
  .item-skills {
    grid-area: skills;
  }
  .item-projects {
    grid-area: projects;
  }
  .item-contact {
    grid-area: contact;
    align-self: right
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
      "header header header header"
      "main main . skills"
      "project project . contact";
  }

